{
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "babel-eslint",
    "rules": {
        "prefer-const": "error",
        "indent": [
            "error",
            2
        ],
        "eqeqeq": [
            "error",
            "always"
        ],
        "semi": [
            "error",
            "always"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true
            }
        ]
    }
}